@import url(https://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
    font-family: 'Gentium Basic', 'Alef Hebrew', serif;
}

a {
	color: inherit;
    text-decoration: none;
	font-weight: bold;
}

.lowkeylink {
	font-weight: normal;
}

.content {
	margin: auto;
	padding-left: 2ex;
	padding-right: 2ex;
	max-width: 800px;
	margin-bottom: 50px;
}



/*
 ┌───────┐
 │ Table │
 └───────┘
*/

td {
	vertical-align: top;
}

td:nth-child(2) {
	border-left: 0px;
}

td:nth-child(3) {
	font-weight: bold;
}

td:nth-child(4) {
	text-align: center;
}



/*
 ┌─────────────────┐
 │ Icons and emoji │
 └─────────────────┘
*/

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

img.icon {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}



/*
 ┌───────────┐
 │ Languages │
 └───────────┘
*/

.hebrew, .yiddish, .ladino {
    font-family: 'Alef Hebrew', serif;
	direction: rtl;
	text-align: right;
}

.farsi {
	direction: rtl;
	text-align: right;
}

.urdu {
	font-family: 'Jameel Noori Nastaleeq', 'Urdu Typesetting', 'Noto Nastaliq Urdu', 'Noto Nastaliq Urdu Draft', 'Hussaini Nastaleeq', 'AlQalam Taj Nastaleeq', IranNastaliq, 'Awami Nastaliq', 'Awami Nastaliq Beta3', 'Awami Nastaliq Beta2', 'Awami Nastaliq Beta1', 'Nafees Nastaleeq', 'Nafees Nastaleeq v1.01', 'Pak Nastaleeq', 'PDMS_Jauhar', 'Alvi Lahori Nastaleeq';
	direction: rtl;
	text-align: right;
}
